body {
	background: #b3ffc6;
}

h1 {
 text-align: center;
 background: #00b377;
 color: #66ffcc;
}

#banner {
	width: 100%;
}

h2 {
	color: #000000;
}

p {
	
}

#objetivo {
	font-size: 20px;
}

h3 {
	color: #00cc99;
}

.itens {
	font font-style: italic;
}