body {
	background: #00FF00;
}

.centered-text {
	text-align: center;
	color: #606060;
}

.main-title {
	padding-left: 20px;
	color: #606060;
}

#banner-title {
	width: 100%;
}

.main {
	background: #66FF66;
	padding: 20px;
}

#objective {
	font-size: 20px;
}

.images {
	width: 50%;
	padding: 20px;
}

.information {
	background: #66FF66;
	padding: 20px;
}

ul {
	display: inline-block;
}

.items {
	font font-style: italic;
}