body {
	background: #00FF00;
}

.centered-text {
	text-align: center;
	color: #606060;
}

.main-title {
	padding-left: 20px;
	color: #606060;
}

#banner-title {
	width: 100%;
}

.main {
	background: #66FF66;
	padding: 20px;
}

#objective {
	font-size: 20px;
}

.images {
	width: 45%;
}

.images-l {
	style:float:left;
	width: 49%;
}

.images-r {
	style:float:right;
	width: 49%;
}

h3 {
	text-align: center;
}

.contacts {
	background: #66FF66;
	padding: 20px;
}

ul {
	display: inline-block;
}

.items {
	font font-style: italic;
}